<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/signup">회원가입</a></li>
    <li><a href="/login">로그인</a></li>
    <li><a href="/logout">로그아웃</a></li>
    <li><a href="/videotest">동영상 업로드</a></li>
    <li><a href="/videoview">동영상 보고 및 다운로드</a></li>
    <li><a href="/nationalcourse">국비과정 등록</a></li>
    <li><a href="/session">국비과정 상세 등록</a></li>
    <li><a href="/sessionview">국비과정 상세 보기</a></li>
    <li><a href="/userId">시큐리티 조회</a></li>
    <li><a href="/hand">핸들러</a></li>


</ul>
</body>
</html>


