<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <!-- External CSS 연결 -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Upload File</h1>
<form id="uploadForm">
    <label for="fileInput">Choose a file:</label>
    <input type="file" id="fileInput" name="videoFile" required>
    <button type="submit">Upload</button>
</form>

<!-- External JavaScript 연결 -->
<script src="/static/js/script.js"></script>
</body>
</html>
