/* SliderComponent.module.css */
.sliderActive {
    position: relative;
    width: 100%;
    margin-bottom: 20px; 

}
  
.bgCover {
    background-size: cover;      /* 이미지가 컨테이너를 꽉 채우도록 설정 */
    background-position: center; /* 이미지의 중심을 기준으로 정렬 */
    height: 800px ;              /* 이미지의 높이를 콘텐츠에 따라 유동적으로 설정 */
    width: 100%;
}

.sliderCont {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    position: absolute; /* 텍스트를 이미지 위에 표시 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 텍스트를 가운데 정렬 */
    width: 80%; /* 텍스트가 화면을 가득 채우지 않도록 설정 */
}

.slick-prev, .slick-next {
    z-index: 1; /* 네비게이션 버튼이 이미지 위에 나오도록 설정 */
}
  

/* 슬라이더 네비게이션 점 (하단 네비게이션) */
.slick-dots {
bottom: 20px; /* 네비게이션 점을 아래쪽으로 설정 */
position: absolute;
width: 100%;
text-align: center;
}

.slick-dots li button:before {
font-size: 20px; /* 네비게이션 점의 크기 */
color: #ffffff;  /* 점 색상 */
}

.slick-dots li.slick-active button:before {
    color: #ffa600;  /* 활성화된 점의 색상 */
}